body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*https://tutorialehtml.com/ro/layouts-in-html/*/

#my_header {
    background-color: #337AB7;
    color: white;
    text-align: center;
    padding: 5px;
}

#my_nav {
    line-height: 30px;
    background-color: #C0E0EE;
    height: 100%;
    width: 20%;
    float: left;
    padding: 5px;
}

#my_section {
    width: 40%;
    float: left;
    padding: 10px;
}

#my_footer {
    background-color: #337AB7;
    color: white;
    clear: right;
    text-align: center;
    padding: 5px;
}

#highlight_choice:hover {
    background-color: cornflowerblue;
}

#students table {
    font-family: arial, sans-serif;
    border-collapse:inherit;
    width: 100%;
}

#students td, th {
    text-align: left;
    padding: 8px;
}

#patterns td, th {
    text-align: center;
    padding: 8px;
}

#students tr:hover {
    background-color: cornflowerblue;
}
#students tr:nth-child(even):hover {
    background-color: cornflowerblue;
}

#students tr:nth-child(even) {
    background-color: #dddddd;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}