
@{
    ViewBag.Title = "ClassBooks";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/app/UsersClient.js"></script>
<script src="~/Scripts/app/ClassBooksClient.js"></script>
<script src="~/Scripts/app/ClassBooksService.js"></script>
<script src="~/Scripts/app/UsersService.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
    }

<div ng-app="UserApp" class="row">
    <div ng-controller="ClassBooksController">
        <div ng-show="!showStudent">
        <div>
             <h2>Manage Class Books</h2>
            <table>
                <tr>
                    <td>
                        <input type="text" class="form-control" name="ClassBookName" ng-model="ClassBookName" placeholder="Classbook Name" required="" />
                    </td>
                    <td>
                        <button ng-click="CreateClassBook()" type="button" class="btn btn-primary btn-sm">Create Class Book</button>
                    </td>
                </tr>
            </table>

        </div>

        <div>
            <br />

            <div id="my_nav">
                <label>Search for classbook: <input type="text" class="form-control" ng-model="searchText" placeholder="Classbook Name"></label>
                <div ng-repeat="x in classBooks | orderBy:'Name' | filter:searchText" ng-click="SetSectionDetails(x)">
                    <div id="highlight_choice"> {{ x.Name }} </div>
                </div>
            </div>

            <div id="my_section">
                <h3>{{CatalogueName}}</h3>
                <div ng-show="!students">There are no students in this classbook.</div>
                    <div ng-hide="!students">
                        <table id="students">
                            <tr id="students">
                                <th id="students">Student Name</th>
                                <th id="students">Email</th>
                            </tr>
                            <tr id="students" ng-repeat="student in students | orderBy:'LastName'" ng-click="GetStudentDetails(student)">
                                <td id="students">{{ student.LastName}} {{ student.FirstName }}</td>
                                <td id="students">{{ student.Email}}</td>
                                <td><button ng-click="RemoveStudent(student)" type="button" class="btn btn-primary btn-sm">Remove</button></td>
                            </tr>
                        </table>
                    </div>

                </div>

            <div id="my_footer">
            </div>
        </div>

        <div id="my_section">
            <h3>All students</h3>
            <!--all students that are not in the current catalogue-->
            <table id="students" ng-hide="!allStudents">
                <tr id="students">
                    <th id="students">Student Name</th>
                    <th id="students">Email</th>
                </tr>
                <tr id="students" ng-repeat="newStudent in allStudents | orderBy:'FullName'" ng-click="GetStudentDetails(newStudent)">
                    <td id="students">{{ newStudent.FullName }} </td>
                    <td id="students">{{ newStudent.Email}}</td>
                    <td><button ng-click="AddStudent(newStudent)" type="button" class="btn btn-primary btn-sm">Add</button></td>
                </tr>
            </table>

        </div>
        <hr>
</div>

        <div ng-show="showStudent"> 
            <br/>
            <button ng-click="BackButton()" type="button" class="btn btn-primary btn-sm">Back</button>
            <br/>
            <hr >

            <table id="students" style="width: 50%; float:left">
                <tr>
                    <th id="students">Test Name</th>
                    <th id="students">Test Pattern</th>
                    <th id="students">Grade</th>
                </tr>
                <tr id="students" ng-repeat="photo in photos" ng-click="GetPhoto(photo.Id)">
                    <td id="students">{{photo.Name}} {{photo.Description}}</td>
                    <td id="students">{{photo.Pattern.Name}}</td>
                    <td id="students">{{photo.Grade}}</td>
                    <td><button ng-click="Download(photo)" type="button" class="btn btn-default btn-sm">Download</button></td>
                    <td><button ng-click="RemovePhoto(photo)" type="button" class="btn btn-primary btn-sm">Delete</button></td>
                </tr>
            </table>

            <div style="width: 50%; float:right; padding:20px" >
                <div align="right">{{studentImageName}}</div>
                <br/>
                <img style="padding-left:150px; padding-right:150px; padding-top:60px; padding-bottom:60px" data-ng-src="data:image/png;base64,{{studentImage}}" class="rotate90" />
                </div>

            </div>
    </div>
    </div>