
@{
    ViewBag.Title = "Patterns";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<h2>Patterns</h2>

@section scripts{
    <script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/app/PatternsClient.js"></script>
<script src="~/Scripts/app/PatternsService.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
}

<div ng-app="UserApp" class="row">
    <div ng-controller="PatternsController">
        <!--tabel cu toate patternurile-->
        <div ng-show="!showPatternDetails">
        <table>
            <tr>
                <td>
                    <input type="text" class="form-control" name="ClassBookName" ng-model="PatternName" placeholder="Pattern Name" required="" />
                </td>
                <td>
                    <button ng-click="AddPattern()" type="button" class="btn btn-primary btn-sm">Create</button>
                </td>
            </tr>
        </table>

        <table id="students" style="width: 50%; float:left">
            <tr id="patterns">
                <th></th>
                <th id="patterns">Name</th>
                <th id="patterns">No. of questions</th>
            </tr>
            <tr id="patterns" ng-repeat="pattern in patterns | orderBy:'Name'">
                <td><button ng-click="Edit(pattern)" type="button" class="btn btn-link btn-sm">Edit</button></td>
                <td id="patterns" ng-click="GetImage(pattern.Id)">{{ pattern.Name }}</td>
                <td id="patterns" ng-click="GetImage(pattern.Id)">{{ pattern.AnswerSheet.length }}</td>
                <td><button ng-click="AddQuestions(pattern)" type="button" class="btn btn-default btn-sm">Add Questions</button></td>
                <td><button ng-click="RemovePattern(pattern.Id)" type="button" class="btn btn-primary btn-sm">Remove</button></td>
            </tr>
        </table>

        <div style="width: 50%; float:right; padding:20px">
            <div align="center"></div>
            <br />
            <img data-ng-src="data:image/png;base64,{{image}}"/>
        </div>

    </div>


        <div ng-show="showPatternDetails">
            <button ng-click="Back()" type="button" class="btn btn-primary btn-sm">Back</button>
            <button ng-click="SaveAnswerSheet(newQuestions)" type="button" class="btn btn-primary btn-sm" style="float:right">Save changes</button>
            <hr>

           <div ng-show="showQuestionsTable"> 
            <table id="students" >
                <tr id="patterns">
                    <th id="patterns">Question body</th>
                    <th id="patterns">Correct/Incorrect</th>
                    <th id="patterns">Answers</th>
                </tr>
                <tr id="patterns" ng-repeat="question in questions | orderBy:'Name'">
                    <td id="patterns" ng-click="">{{ question.Question }}</td>
                    <td id="patterns" ng-click="">{{ question.Answer}}</td>
                    <td id="patterns" ng-click="">{{ question.AnswerString}}</td>
                </tr>

                
            </table>

               <div ng-show="!showQuestionsTable">
                   {{status}}
                   </div>
               </div>


    <div>
        <div>
        <input type="text" cols="5" class="form-control" name="QuestionName" ng-model="q" placeholder="Question body..." required="" />
        <input type="number" class="form-control" name="NumberOfAnswers" ng-model="NumberOfAnswers" placeholder="Number of answers..." required="" ng-change="OnAdding(NumberOfAnswers)"/>
            </div>

        <table ng-show="showAnswers">       
        <tr>
            <td>
                <input type="text" class="form-control" name="Qone" ng-model="Answer.One" placeholder="Answer..." />
                <input type="checkbox" name="QuestionName" ng-model="qOne" value="one" />
            </td> 
            <td>
                <input type="text" class="form-control" name="Qtwo" ng-model="Answer.Two" placeholder="Answer..." />
                <input type="checkbox" name="QuestionName" ng-model="qTwo" value="two" />
            </td> 
            <td>
                <input type="text" class="form-control" name="Qthree" ng-model="Answer.Three" placeholder="Answer..." />
                <input type="checkbox" name="QuestionName" ng-model="qThree" value="three" />
            </td> 
            <td>
                <input type="text" class="form-control" name="Qfour" ng-model="Answer.Four" placeholder="Answer..." />
                <input type="checkbox" name="QuestionName" ng-model="qFour" value="four" /> 
            </td> 
            </tr>
    </table>
        <button ng-click="AddQuestion()" type="button" class="btn btn-default btn-sm">Add question</button>
      
        <!--form pt un nou pattern. creare > adaugare intrebari si raspunsuri + save button pt answer sheet -->
        </div>
        </div>
        </div>
</div>